.task-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #feb766;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}