* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fff1ea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

input {
  outline: none;
  background: none;
  border: 1px solid #feb766;
  color: #fff;
}

h1 {
  color: #feb766;
  font-size: 1.75rem;
}

button {
  background: #feb766;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}
